*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}
.container-full{
    max-width: 1920px;
    margin: 0 auto;
}